<!-- templates/HomeLayout-->
<div class="container">

	<!-- Main hero unit for a primary marketing message or call to action -->
	<div class="hero-unit">
		<h1>What do you mean its not intuitive?</h1>
		<p>/p>
	</div>

	<!-- Example row of columns -->
	<div class="row">
		<div class="span4">
			<h2>Search our help desk</h2>

			<p>
				<form class="navbar-search pull-left">
					<input type="text" class="search-query" placeholder="Search">
				</form>
			</p>
		</div>
		<div class="span4">
			<h2>Check the FAQ</h2>
			<p> </p>
			<p><a class="btn" href="#">Check it out &raquo;</a></p>
		</div>
	</div>

	<hr>
</div> <!-- /container -->