<!-- templates/StartLayout-->
<div class="container">

	<!-- Main hero unit for a primary marketing message or call to action -->
	<div id="choice_description_region" class="hero-unit">
		<h1>Choose your path to a place many say doesn't exist...</h1>

		<p>a place where it's <b><i>fun</i></b> to do chores.</p>
	</div>

	<div class="row-fluid">
		<ul class="thumbnails">
			<li id="inspector_start" class="span4">

			</li>
			<li id="login_start" class="span4">

			</li>
			<li id="player_start" class="span4">

			</li>
		</ul>
	</div>
</div> <!-- /container -->